// Theme Width.
$themeWidth: 1240px;

// Content Width.
$contentWidth: 800px;
$wideBlockWidth: 960px;

// Fullwidth Template.
$contentFullwidth: 1160px;
$wideBlockFullwidth: 1240px;

// Text Color
$textColor: rgba(0, 0, 0, 0.9);

// Theme Colors
$themeColors: (
	--primary-color                  : #5d7b94,
	--secondary-color                : #2a4861,
	--accent-color                   : #078896,
	--highlight-color                : #5bb021,
	--light-gray-color               : #e4e4e4,
	--gray-color                     : #848484,
	--dark-gray-color                : #242424,
	--text-color                     : rgba(0, 0, 0, 0.9),
	--medium-text-color              : rgba(0, 0, 0, 0.7),
	--light-text-color               : rgba(0, 0, 0, 0.5),
	--link-color                     : #5d7b94,
	--link-hover-color               : #2a4861,
	--button-color                   : #2a4861,
	--button-text-color              : #fff,
	--button-hover-color             : #5d7b94,
	--button-hover-text-color        : #fff,
	--page-background-color          : #fff,
	--page-border-color              : rgba(0, 0, 0, 0.1),
	--page-light-bg-color            : rgba(0, 0, 0, 0.05),
	--header-background-color        : #2a4861,
	--header-text-color              : #fff,
	--header-text-hover-color        : rgba(255, 255, 255, 0.5),
	--header-border-color            : rgba(255, 255, 255, 0.1),
	--title-color                    : #2a4861,
	--title-hover-color              : #5d7b94,
	--post-meta-background-color     : #ededef,
	--widget-title-color             : #2a4861,
	--widget-title-hover-color       : #5d7b94,
	--widget-background-color        : #ededef,
	--footer-background-color        : #2a4861,
	--footer-text-color              : rgba(255, 255, 255, 0.75),
	--footer-link-color              : #fff,
	--footer-link-hover-color        : #fff,
	--footer-border-color            : rgba(255, 255, 255, 0.1),
);

// Theme Fonts
$baseFont: "Barlow", arial, helvetica, sans-serif;
$titleFont: "Barlow", arial, helvetica, sans-serif;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : bold,
	--navi-font-weight  : normal,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);

// Line Height.
$lineHeight: (
	--text-line-height : 1.75,
	--title-line-height : 1.4,
);
