.sidebar {
	margin-left: auto;
	margin-right: auto;
	max-width: $contentWidth;

	.widget {
		padding: 1.5rem;
		margin-bottom: 1.25rem;
		@include background(--widget-background-color);
	}
}

@media only screen and (min-width: 480px) {
	.sidebar {
		.widget {
			padding: 2rem;
			margin-bottom: 1.5rem;
		}
	}
}

@media only screen and (min-width: 640px) {
	.sidebar {
		.widget {
			margin-bottom: 1.75rem;
		}
	}
}

@media only screen and (min-width: 880px) {
	.has-sidebar {
		.site-content {
			display: flex;

			.site-main,
			.sidebar {
				margin: 0;
				box-sizing: border-box;
			}

			.site-main {
				flex-basis: 70%;

				.entry-content > .alignwide,
				.entry-content > .alignfull {
					margin-left: 0;
					margin-right: 0;
				}
			}

			.sidebar {
				max-width: 100%;
				min-width: 300px;
				padding-left: 1.75rem;
				flex-grow: 1;
				flex-basis: 30%;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content {
		.site-main {
			order: 2;
		}

		.sidebar {
			order: 1;
			padding-left: 0;
			padding-right: 1.75rem;
		}
	}
}

@media only screen and (min-width: 960px) {
	.sidebar {
		.widget {
			margin-bottom: 2rem;
		}
	}

	.has-sidebar {
		.site-content {
			.sidebar {
				padding-left: 2rem;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content .sidebar {
		padding-right: 2rem;
	}
}

@media only screen and (min-width: 1280px) {
	.sidebar {
		.widget {
			margin-bottom: 2.5rem;
		}
	}

	.has-sidebar {
		.site-content {
			.sidebar {
				padding-left: 2.5rem;
			}
		}
	}

	.page-template-template-sidebar-left.has-sidebar .site-content .sidebar {
		padding-right: 2.5rem;
	}
}
