
@media only screen and (min-width: 640px) {
	.blog-layout-horizontal-list {
		.post-wrapper .type-post {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;

			.post-image {
				width: 42%;
				margin-right: 1rem;
				margin-bottom: 0;
			}

			.entry-wrap {
				width: 58%;
				margin-left: 1rem;
			}

			.entry-title {
				@include font-size(22);
			}

			.entry-meta,
			.entry-tags,
			.more-link {
				@include font-size(15);
			}

			.entry-content {
				@include font-size(17);
			}
		}
	}

	.blog-layout-horizontal-list-alt {
		.post-wrapper .type-post:nth-of-type(even) {
			flex-direction: row-reverse;

			.post-image {
				margin-right: 0;
				margin-left: 1rem;
			}

			.entry-wrap {
				margin-left: 0;
				margin-right: 1rem;
			}
		}
	}

	.blog-layout-two-column-grid,
	.blog-layout-three-column-grid {
		.post-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-right: -2rem;

			.type-post {
				padding-right: 2rem;
				margin-bottom: 2rem;
				width: 50%;

				.post-image {
					margin-bottom: 1rem;
				}

				.entry-title {
					@include font-size(22);
				}
			}
		}
	}
}

@media only screen and (min-width: 1120px) {
	.blog-layout-horizontal-list {
		.post-wrapper {
			.type-post {
				.entry-title {
					@include font-size(24);
				}
			}
		}
	}

	.blog-layout-two-column-grid,
	.blog-layout-three-column-grid {
		.post-wrapper {
			margin-right: -2.5rem;

			.type-post {
				padding-right: 2.5rem;
				margin-bottom: 2.5rem;

				.post-image {
					margin-bottom: 1.5rem;
				}

				.entry-title {
					@include font-size(24);
				}
			}
		}
	}

	.blog-layout-three-column-grid {
		.post-wrapper {
			.type-post {
				width: 33.3333333333333%;

				.entry-title {
					@include font-size(22);
				}
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.blog-layout-horizontal-list,
	.blog-layout-two-column-grid {
		.post-wrapper {
			.type-post {
				.entry-title {
					@include font-size(26);
				}

				.entry-meta {
					@include font-size(16);
				}

				.entry-content {
					@include font-size(18);
				}
			}
		}
	}

	.blog-layout-three-column-grid {
		.post-wrapper {
			.type-post {
				width: 33.3333333333333%;

				.entry-title {
					@include font-size(24);
				}
			}
		}
	}
}

.blog-layout-two-column-grid .post-wrapper .type-post.sticky,
.blog-layout-three-column-grid .post-wrapper .type-post.sticky {
	width: 100%;
}
